body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.player-token {
  position: absolute;
  left: 0; /* Adjust these values as needed */
  top: 0; /* Adjust these values as needed */
  z-index: 100; /* Ensure it's above other elements */
}

/* Add hover effects if needed */
.player-token:hover {
  border: 1px solid red; /* Example border on hover */
}